@mixin for-desktop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin for-large-tablet {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin for-tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin for-phone {
  @media (max-width: 640px) {
    @content;
  }
}

@mixin for-small-phone {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin title {
  font-size: clamp(40px, 5vw, 60px);
  font-weight: 700;
  color: transparent;
  background: -webkit-linear-gradient($white, $auro-metal-saurus);
  -webkit-background-clip: text;
}

@mixin profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@mixin content-page {
  margin: 0 auto;
  width: 100%;
  max-width: 72rem;

  .content-page__header {
    margin: 3rem 0;
    line-height: 1.5;

    .header__title {
      @include title;
    }

    .header__desc {
      font-size: 1.5em;
      color: $auro-metal-saurus;

      @include for-tablet {
        font-size: 1.125em;
      }
    }

    @include for-tablet {
      margin: 1rem 0 3rem;
    }
  }
}
