@mixin for-desktop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin for-large-tablet {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin for-tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin for-phone {
  @media (max-width: 640px) {
    @content;
  }
}

@mixin title {
  font-size: clamp(40px, 5vw, 60px);
  font-weight: 700;
  color: transparent;
  background: -webkit-linear-gradient($white, $auro-metal-saurus);
  -webkit-background-clip: text;
}

@mixin return-link {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: 0.25em;
  color: $vivid-cerulean;

  svg {
    transition: 0.1s transform ease-in-out;
  }

  &:hover {
    svg {
      transform: translateX(-5px);
    }
  }
}

@mixin profile-img {
  width: 40px;
   height: 40px;
   border-radius: 50%;
}

@mixin content-page {
  margin: 0 auto;
  width: 100%;
  max-width: 72rem;

  .content-page__header {
    margin: 3rem 0;
    line-height: 1.5;

    .header__title {
      @include title;
    }

    .header__desc {
      font-size: 1.5em;
      color: $auro-metal-saurus;

      @include for-tablet {
        font-size: 1.125em;
      }
    }

    @include for-tablet {
      text-align: center;
    }
  }
}
