$rich-black: #020617;
$yankees-blue: #1e293b;
$independence: #475569;
$auro-metal-saurus: #6b7280;
$slate-gray: #64748b;
$vivid-cerulean: #0ea5e9;
$turquoise-surf: #06b6d4;
$platinum: #e5e5e5;
$ghost-white: #f8fafc;
$anti-flash-white: #f1f5f9;
$white: #fefefe;
